.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
        "header"
        "menu"
        "content";
    transition: .8s;
}

.grid-item-header {
    grid-area: header;
    color: white;
    background-color: #4cae4c;
    padding-left: 50px;
}

.grid-item-header div{
    float: left;
}

.grid-item-header #club-full-name, .grid-item-header #club-abreviation {
    font-size: 1.8em;
    margin-right: 20px;
}

.grid-item-header #club-abreviation{
    font-weight: 700;
}

.grid-item-menu{
    grid-area: menu;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
}

nav {
    float: right;
    top:0px;
    padding: 0px;
    text-align: left;
}


nav ul {
    list-style-type: none;
    padding: none;
}

nav ul li {
    display: inline;
    font-size: 1.2em;
    margin: 2px 10px 2px 10px;
}

nav ul li a {
    text-decoration: none;
    word-wrap: nowrap;
    color: #111111;
    padding:0 10px 0 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color:#4cae4caf;
    color:white;
}

nav ul li a.router-link-active{
    color: white;
    background-color: #4cae4c;
}

.menu-icon {
    display: none;
    margin: 2px 0 0 6px;
}

.menu-icon:hover {
    cursor: pointer;
}

.menu-icon-bar{
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 2px 0px 2px;
    border-radius: 0.5em;
    transition:  height .8s ease-in-out, transform .8s ease-in-out, background-color .8s;  
}

.grid-container.show-menu  .menu-icon-bar{
    background-color: black;
}

.grid-container.show-menu .menu-icon #bar-top{
    transform:  translateY(0.5em) rotate(45deg);
}

.grid-container.show-menu .menu-icon #bar-middle{
    transform:   rotate(-45deg);
}

.grid-container.show-menu .menu-icon #bar-bottom{
    height: 0;   
}

nav a.menu-icon {
    display: none;
}

@media screen and (max-width: 800px){

    .menu-icon {
        position: absolute;
        top:0;
        left:0;
        display: block;
    }

    nav{
        width: 350px;
    } 
    
    nav ul li {
        display: block;
    }

    .grid-container{
    grid-template-columns: 0px 100%;
            grid-column-gap: 5px;
            grid-row-gap: 2px;
            grid-template-areas: 
                "menu header"
                "menu content";
    }

    .grid-container.show-menu {
        grid-template-columns: auto 100%;
    }

    .grid-container .grid-item-menu {
        width: 0px;
        transition: width .5s ease-in-out;
    }

    .grid-container.show-menu .grid-item-menu {
        width: 350px;
        border-right: 1px solid #222222;
        box-shadow: 3px 3px 3px 3px #888888;
    }

    .grid-item-menu{
        height: 100vh;
    }
}
@media screen and (max-width: 600px){
    
    .menu-icon-bar{
        height: 3px;
        margin: 3px 2px 0 4px;
        width: 20px;
    }

}