
.grid-item-header {
    grid-area: header;
    background-color: white;
}
.grid-item-header #club-full-name, .grid-item-header #club-abreviation {
    font-size: 2.5em;
}
.grid-item-header #club-abreviation{
    font-weight: 700;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    font-size: 1.5em;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}