
.grid-item-header {
    grid-area: header;
    background-color: white;
}
.grid-item-header #club-full-name, .grid-item-header #club-abreviation {
    font-size: 2.5em;
}
.grid-item-header #club-abreviation{
    font-weight: 700;
}