<div class='grid-container'>
  <div class='grid-item-header'>
    <span id='club-abreviation'>Head</span><span id='club-full-name'>This is the header</span>
    <nav>
      <ul routerLinkActive="active">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="calendar">Calendar</a></li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>

  <div class='grid-item-whatis'>
      <h1>What is This about?</h1>
      An exciting outdoor adventure sport which involves walking or running whilst navigating around a course using a detailed map and sometimes a compass.
      The aim is to navigate between a set of control points, deciding on the best route to complete the course in the quickest time.
      It does not matter how young, old or fit you are - you can run, walk or jog the course and progress at your own pace.
      read more...
  </div>
  <div class='grid-item-calendar'>
    <h1>Coming Events</h1>
    <penoc-event-card-list></penoc-event-card-list>
  </div>
  <div class='grid-item-content'>
    <h1>News</h1>
  </div>
</div>