.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(400px, 1fr) 3fr minmax(400px, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 2px;
        grid-template-areas: 
    "whatis content calendar";
}

@media screen and (max-width: 1000px) {
    .grid-container {
        font-size: 0.8em;
        grid-template-areas: "whatis"
                             "calendar"
                             "content";
        grid-template-columns: 100vw;
        grid-template-rows: auto
                            auto;
    }
}

.grid-container div {
    margin: 0px;
}

.grid-item-whatis {
    grid-area: whatis;
}

.grid-item-calendar {
    grid-area: calendar;
}

.grid-item-content {
    grid-area: content;
    padding: 0px 15px 15px 15px;
}

.grid-item-content div {
    width: 100%;
}

#upcoming-events {
    margin:20px;
}