<div class='grid-container'>
  <div class='grid-item-whatis'>
    <penoc-about-the-club summary='true'></penoc-about-the-club>
    <penoc-what-is summary='true'></penoc-what-is>
  </div>
  <div class='grid-item-calendar'>
    <div id="upcoming-events">
      <h1>Upcoming Events</h1>
      <penoc-event-card-list (select)='calendarEventClick($event)'></penoc-event-card-list>
    </div>
  </div>
  <div class='grid-item-content'>
    <h1>News</h1>
    <div *ngFor="let card of homeService.cardData">
      <penoc-news-item-card *ngIf="card.title" [newsItem]='card' (select)="newsClick($event)"></penoc-news-item-card>
      <penoc-event-results-card *ngIf="card.oEvent" [oeventSummary]='card' (select)="eventResultsClick($event)"></penoc-event-results-card>
    </div>
  </div>
</div>
