<div class='grid-container'>
  <div class='grid-item-whatis'>
    <penoc-about-the-club summary='true'></penoc-about-the-club>
    <penoc-what-is summary='true'></penoc-what-is>
  </div>
  <div class='grid-item-calendar'>
    <h1>Upcoming Events</h1>
    <penoc-event-card-list (select)='calendarEventClick($event)'></penoc-event-card-list>
  </div>
  <div class='grid-item-content'>
    <h1>News</h1>
    <div *ngFor="let oEventResultSummary of recentOEventResults">
      <penoc-event-results-card [oeventSummary]='oEventResultSummary' (select)="eventResultsClick($event)"></penoc-event-results-card>
  </div>
  </div>
</div>