#card {
    overflow: auto;
}

.results, .report {
    width: 100%;
}

div.results-placeholder {
    height: 100px;
}

span.organisers {
    font-size: 0.9em;
}
span.organisers-label {
    font-weight: 600;
}